@use '../styles/breakpoints.scss' as bp;

#root {
  --section-gap: 20px;
  padding: 2rem 3rem; 
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-grid-container {
  display: grid;
  grid-template-rows: 1fr minmax(270px, 1fr);
  row-gap: var(--section-gap);
  width: min(1200px, calc(100vw - 6rem));
  max-height: 700px;
}

.grid-row,
.grid-column {
  display: flex;
  gap: var(--section-gap);
}

.grid-row {
  flex-direction: row;
}

.grid-column {
  flex-direction: column;
}

.grid-section {
  background-color: var(--color-grid-background);
  display: flex;
  padding: clamp(12px, calc(1.5vw), 20px);
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.5);
} 

.icon-button {
  color: var(--color-slightly-faded-light-text);
  cursor: pointer;
  height: var(--icon-size-standard);
  width: var(--icon-size-standard);
  background-color: transparent;
  border: none;
  will-change: transform, color;
  transition: transform 300ms, color 300ms;
}

.icon-button:hover {
  transform: scale(1.125);
  color: var(--color-light-text);
}

.icon-fg {
  color: var(--color-grid-background);
}

.icon {
  width: var(--icon-size-standard);
  height: var(--icon-size-standard);
  color: inherit;
}

.section-label {
  color: var(--color-faded-light-text);
  font-size: var(--text-size-header);
  text-align: center;
  letter-spacing: var(--letter-spacing-header);
  line-height: 34px;
}

@media (max-width: bp.$small) {
  #root {
    padding: 1rem; 
    --section-gap: 10px;
  }
  .grid-section {
    padding: 15px;
  }
  .icon-button:hover {
    transform: none;
  }
}

@media (min-width: #{bp.$small + 1}) and (max-width: bp.$medium-1) {
  #root {
    padding: 1.5rem; 
    --section-gap: 15px;
  }
  .grid-section {
    padding: 15px;
  }
}

@media (min-width: #{bp.$medium_1 + 1}) and (max-width: bp.$medium-2) {
  #root {
    padding: 2rem; 
    --section-gap: 15px;
  }
  .grid-section {
    padding: 15px;
  }
}

@media (max-width: bp.$medium-2) {
  #root {
    align-items: flex-start;
  }
}