:root {
  --color-light-text: rgba(208, 208, 198, 0.95);
  --color-faded-light-text: rgba(208, 208, 198, 0.2);
  --color-slightly-faded-light-text: rgba(208, 208, 198, 0.8);
  --color-dark-background: #171717;
  --color-grid-background: #102024;

  /* --text-size-header: 1.7rem; */
  /* --text-size-subheader: 1.3rem; */
  /* --text-size-medium: 1.1rem; */
  /* --text-size-small: 0.8rem; */
 
 /* Responsive styles */
  --text-size-header: clamp(1.2rem, calc(1vw + 0.8rem), 1.7rem);
  --text-size-subheader: clamp(0.9rem, calc(1vw + 0.4rem), 1.3rem);
  --text-size-medium: clamp(0.8rem, calc(1vw + 0.2rem), 1.1rem);
  --text-size-small: clamp(0.6rem, calc(1vw + 0rem), 0.8rem);

  --letter-spacing-header: clamp(2px, calc(0.12rem), 5px); 
  --icon-size-large: clamp(70px, calc(5vw + 28px), 100px);
  --icon-size-standard: clamp(25px, calc(1.5vw + 14px), 35px);
  
  /* color-scheme: light dark; */
  font-family: 'Jura', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-light-text);
  background-color: var(--color-dark-background);
  
  view-transition-name: none;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  margin: 0;
  min-width: 320px;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
